.bmw {
    position: relative;
    width: 0;
    margin: 60px;
    border: 68px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 0 4px #fff, 0 0 0 44px #000, 0 0 0 47px #fff, 0 0 0 49px #000;
}

.bmw:after {
    content: ' ';
    position: absolute;
    display: block;
    top: -68px;
    right: -68px;
    border: 68px solid blue;
    border-color: #fff #1778c9;
    border-radius: 100%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bmw_letter {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    font-weight: bold;
    color: #fff;
}

.bmw_letter--b {
    top: -85px;
    left: -85px;
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    transform: rotate(-50deg);
}

.bmw_letter--m {
    top: -115px;
    left: -18px;
}

.bmw_letter--w {
    top: -85px;
    left: 45px;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
}