html, body {
	margin: 0;
	padding: 0;
}

.popup {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
}
.popup:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.popup__box {
	display: inline-block;
	vertical-align: middle;
	overflow: auto;
	min-height: 100px;
	max-height: 90%;
	min-width: 100px;
	max-width: 90%;
	background-color: #fff;
	text-align: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 15px #585858;
	-moz-box-shadow: 0 2px 15px #585858;
	box-shadow: 0 2px 15px #585858;
}